.container {
  min-height: 80px;
  width: 100%;
  z-index: 2;
  background-color: rgba(245, 245, 245, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-shadow: 1px 2px 5px darkgray;
  .logoBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .contactItem {
        padding: 5px;
        .ref {
          color: black;
          text-decoration: none;
        }
        .ref:hover {
          color: darkgray;
        }
      }
    }
    .logo {
      margin: 0 10px;
      height: 80px;
      min-width: 80px;
      background-color: white;
    }
  }
}
