.item {
  max-width: 900px;
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .itemHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .position {
      min-width: 100px;
      padding: 10px;
      margin: 5px;
    }
    .salary {
      min-width: 100px;
      padding: 10px;
      margin: 5px;
    }
  }
  .description {
    padding: 10px;
    margin: 5px;
  }
  .itemFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .place {
      padding: 10px;
      margin: 5px;
    }
    .responseButton {
      padding: 10px;
      margin: 5px;
      background-color: rgba(86, 211, 94, 0.14);
      border-radius: 5px;
    }
    .responseButton:hover {
      background-color: rgba(86, 211, 94, 0.84);
    }
  }
}

.item:hover {
  background-color: rgba(86, 211, 94, 0);
}