.company {
  height: 80vh;
  padding: 250px 0 0 0;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .title {
    font-size: 40px;
  }
  .services {
    background-image:url('../../Assets/svarshik.jpg');
    background-position: center center;
    background-size: cover;
    height: 550px;
    padding: 30px;
    display: flex;
    align-items: center;
  }
}