.nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.item {
  background-color: dimgray;
  padding: 0px 6px;
  margin: 0px 10px;
  color: azure;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.item:hover {
  background-color: darkgrey;
}