.nav {
  max-width: 670px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .item {
    padding: 0px 5px;
    margin: 10px 5px;
    color: azure;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    cursor: default;
  }

  .item:hover {
    color: darkgrey;
  }
}